<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
		<target name="error"
		   archiveFileName="logs/archives/app-log-all.{#}.txt"
		   archiveEvery="Day"
		   archiveAboveSize="5000000"
		   archiveNumbering="Rolling"
		   maxArchiveFiles="7"
		   xsi:type="File"
		   fileName=".\logs\AppLogFile.log"
		   layout="--------------------- ${level} (${longdate})--------------------
            ${newline}
            Additional Info  : ${message}${newline}
            Exception Type   : ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace      : ${exception:format=Stack Trace}${newline}               
            ">
		</target>
		<target name="all"
		   archiveFileName="logs/archives/app-log-all.{#}.txt"
		   archiveEvery="Day"
		   archiveAboveSize="5000000"
		   archiveNumbering="Rolling"
		   maxArchiveFiles="7"
		   xsi:type="File"
		   fileName=".\logs\AppLogFile.log"
		   layout="--------------------- ${level} (${longdate})--------------------
            ${newline}
            Message  : ${message}${newline}        
            ">
		</target>
		
		<target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="all" />
    </rules>
</nlog>